.login-div,html{
    background: #27262C;
    border-radius: 50%;
}
.login-h3{
  font-family: "Inter";
  font-weight: 600;
  color: #4044ED;
}
.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0 8px 32px 0 #27262c37;
    flex-direction: column;
    background: rgba(27, 25, 25, 0.2);
    padding: 1rem 3rem 2rem;
    gap: 1rem; 
    -webkit-backdrop-filter: blur(20px);
    border:1px solid rgba(255, 255, 255, 0.18);
    border-radius: 8px;
    backdrop-filter: blur(20px);
  }
  .login > *{
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: rgb(255, 255, 255);
    
  }
  .login-h3{
    color: #FFF;
  }
  .login > button{
    width: 100%;
    background: #4044ED;
  }
  .login > input{
    background: transparent;
    border-bottom: 1px solid #383834;
  }