.container{
    position: absolute;
    width: 80vw;
    height: 100%;
    background: #27262C; 
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.signup{
    background: rgba(27, 25, 25, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0 8px 32px 0 #27262c37;
    flex-direction: column;
    padding: 1rem 3rem 2rem;
    gap: 1rem; 
    -webkit-backdrop-filter: blur(20px);
    border:1px solid rgba(255, 255, 255, 0.18);
    border-radius: 8px;
    backdrop-filter: blur(20px);
    text-align: center;
}
.signup > *{
    padding: 0.5rem;
    font-family: "Roboto Flex";
    width: 100%;
}

.signup > div > button{
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    border-radius: 12px;
}