@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
}


.header > *{
  font-family: "Roboto Flex";
}
.header > h3{
  font-size: 2rem;
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4) !important;
  flex: 1;
  text-align: center;
}
.new-task{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin: auto 1rem;
  padding: 1rem;
  border-radius: 8px;
  gap: 1em;
  background: rgba(32, 84, 100, 0.433);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4) !important;
}
.logo{
  position: relative;
  width: 100px;
  height: 100px;
}

.logo > img{
  padding: 0.5rem;
  width: 100%;
  position: absolute;
  object-fit:cover;
  border-radius: 50%;
}
.login-div,html{
  background: #27262C;
  border-radius: 50%;
}
#title,#details{
  background: #DBE2EF;
  padding: 1em 0.5em;
}
#title{
  border-radius: 8px 0 0 8px;
}
.logout{
  color: red;
  font-family: "Inter";
  font-weight: 800;
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid grey;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4) !important;
}
#details{
  min-width: 50%;
  resize: none;
}
.task-submit{
  border-radius: 0 8px 8px 0;
}
.header{
  color: #f2a33c;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding:0.5rem 1rem;
}
.fa-trash-can{
  color: #e81414;
}
.fa-pen-to-square{
  color: #794c12;
}
.fa-trash-can:focus{
  background: #000;
}
.task {
  font-family: "Inter";
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  padding: 1rem;
  background: #dbaf75;
  color: #3A3A36;
  margin: 1rem;
  border-radius: 8px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4) !important;
}

.popup{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #202020a5 !important;
  color: #e81414 !important;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  padding: 5vw 5vh 20vw !important;
}
.popup > .edit-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:flex-end;
  gap: 1rem;
}
.edit-inputs > *{
  padding: 1vw 1vh;
  width: 60vw;
}
.task >div{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 1rem;
}

.tasks{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  text-align: start;
}
.task-submit{
  background: #5C9967;
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 700;
}

.task-title{
  font-family: "Jost";
}
.task > *{
  color: #202222;
}


.no-tasks{
  width: 100vw;
  color: white;
  text-align: center;
}
@media only screen and (max-width:550px) {
  .new-task{
    display: grid;
    grid-template-columns: 1fr;
  }
  .header  {
    padding-top: 0;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
  }
  .task-submit{
    padding: 0.5rem;
  }
  #title,#details{
    font-family: "Inter";
    font-size: 1.1rem;
  }
  .header > h3{
    text-wrap: nowrap;
    font-size: 1.3rem;
  }
  .header > button{
    font-size: 1rem;
  }
  .logout{
    padding: 0.5rem;
    border-radius: 8px;
  }
  .logo >  img{
    padding: 1.2rem;
  }
}